<div id="infomationPopWrap">
        <div class="infomationContent">
           <button type="button" class="closePop"></button>
            <div class="leftLabelContents">
               <ul>
                  <li><button type="button" class="popBtn">Info</button></li>
                  <li><button type="button" class="popBtn">Article</button></li>
                  <li><button type="button" class="popBtn">Finance</button></li>
                  <li><button type="button" class="popBtn">Employment</button></li>
                  <li><button type="button" class="popBtn">Tech / invest</button></li>
               </ul>
            </div>
          <div class="rightContents">
            <div class="rightContSpace">
               <div class="contentsWrap">
                     <h5 class="titles">Overview</h5>
                     <div class="tableContents">
                        <table class="tableCont01">
                           <tbody>
                              <tr>
                              <th>CEO</th>
                              <td>Jaejoon Park (17 employees)</td>
                              </tr>
                              <tr>
                              <th>Est. date</th>
                              <td>2015-10-26 (8.9 years)</td>
                              </tr>
                              <tr>
                              <th>Business Area</th>
                              <td>Finance & Investment, IT & Communications</td>
                              </tr>
                              <tr>
                              <th>Business Category</th>
                              <td>(J58222) Application Software Development and Supply</td>
                              </tr>
                              <tr>
                              <th>Homepage</th>
                              <td>https://antock.com</td>
                              </tr>
                              <tr>
                              <th>Description</th>
                              <td>Antock Co., Ltd. is a fintech startup leveraging IT expertise to address information asymmetry in the financial industry. By providing automated analysis services for financial and corporate data, Antock enables users to efficiently distinguish between high-quality and underperforming companies, facilitating effective investment and risk management.</td>
                              </tr>
                              <tr>
                              <th>Main product</th>
                              <td>Hubble database</td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
               </div>
               <!--Identification Informatio-->
               <div class="contentsWrap">
                  <h5 class="titles">Identification Information</h5>
                  <div class="tableContents">
                     <table class="tableCont01">
                        <tbody>
                           <tr>
                              <th>Business Registration Number</th>
                              <td>527-88-0****</td>
                           </tr>
                           <tr>
                              <th>Business Status</th>
                              <td>Active Business - Subject to Value-Added Tax Reporting (August 28, 2023, National Tax Service inquiry)</td>
                           </tr>
                           <tr>
                              <th>Legal Registration Number</th>
                              <td>110111-5866110</td>
                           </tr>
                           <tr>
                              <th>Registered Address</th>
                              <td>Business Address (actual operating location)</td>
                           </tr>
                           <tr>
                              <th>Company Type</th>
                              <td>Corporation</td>
                           </tr>
                           <tr>
                              <th>Registration Status</th>
                              <td>Existing</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
                  <!--Certification Informatio-->
                  <div class="contentsWrap">
                  <h5 class="titles">Certification</h5>
                  <div class="tableContents">
                     <table class="tableCont01">
                        <tbody>
                           <tr>
                              <th>Venture</th>
                              <td>Certified (2027-07-10)</td>
                           </tr>
                           <tr>
                              <th>Main-Biz</th>
                              <td>-</td>
                           </tr>
                           <tr>
                              <th>Research Institute</th>
                              <td>Established</td>
                           </tr>
                           <tr>
                              <th>Inno-Biz</th>
                              <td>Certified (2026-07-31)</td>
                           </tr>
                           <tr>
                              <th>Telecom Sales</th>
                              <td>Certified</td>
                           </tr>
                           <tr>
                              <th>Social Enterprise</th>
                              <td>-</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div><!--contentWrap-->
            </div><!--rightSpace-->
           <div class="rightContSpace">
            <div class="contentsWrap">
               <h5 class="titles">Article</h5>
               <h3 class="data-labels"><span>New Article</span><span>62 Article</span></h3>
               <div class="listContents">
                  <ul>
                     <li class="arrange"><span class="tags">Naver News</span><span>2024-04-14</span></li>
                     <li><h3>The Significance of Global Niche Markets</h3></li>
                     <li><p>Over the past year, we have been monitoring the world’s top 100 venture capital firms, based on assets under management (AUM), to continuously track the investment portfolios of individual institutions. By reviewing …</p></li>
                  </ul>
                  <ul>
                     <li class="arrange"><span class="tags">Naver News</span><span>2024-04-14</span></li>
                     <li><h3>The Significance of Global Niche Markets</h3></li>
                     <li><p>Over the past year, we have been monitoring the world’s top 100 venture capital firms, based on assets under management (AUM), to continuously track the investment portfolios of individual institutions. By reviewing …</p></li>
                  </ul>
                  <ul>
                     <li class="arrange"><span class="tags">Naver News</span><span>2024-04-14</span></li>
                     <li><h3>The Significance of Global Niche Markets</h3></li>
                     <li><p>Over the past year, we have been monitoring the world’s top 100 venture capital firms, based on assets under management (AUM), to continuously track the investment portfolios of individual institutions. By reviewing …</p></li>
                  </ul>
                  <ul>
                     <li class="arrange"><span class="tags">Naver News</span><span>2024-04-14</span></li>
                     <li><h3>The Significance of Global Niche Markets</h3></li>
                     <li><p>Over the past year, we have been monitoring the world’s top 100 venture capital firms, based on assets under management (AUM), to continuously track the investment portfolios of individual institutions. By reviewing …</p></li>
                  </ul>
                  <ul>
                     <li class="arrange"><span class="tags">Naver News</span><span>2024-04-14</span></li>
                     <li><h3>The Significance of Global Niche Markets</h3></li>
                     <li><p>Over the past year, we have been monitoring the world’s top 100 venture capital firms, based on assets under management (AUM), to continuously track the investment portfolios of individual institutions. By reviewing …</p></li>
                  </ul>
                  <ul>
                     <li class="arrange"><span class="tags">Naver News</span><span>2024-04-14</span></li>
                     <li><h3>The Significance of Global Niche Markets</h3></li>
                     <li><p>Over the past year, we have been monitoring the world’s top 100 venture capital firms, based on assets under management (AUM), to continuously track the investment portfolios of individual institutions. By reviewing …</p></li>
                  </ul>
               </div>
            </div>
           </div>
           <div class="rightContSpace">
             <div class="contentsWrap">
               <h5 class="titles">Summary Financial Statements</h5>
               <div class="finance-dataBoxs">
                  <h3>Balance Sheet</h3>
                  <div class="canvas-boxies">
                     <canvas id="finance-01"></canvas>
                     <canvas id="finance-02"></canvas>
                     <canvas id="finance-03"></canvas>
                  </div>
                  <div class="tableContents">
                      <table class="tableCont02">
                         <thead>
                            <tr>
                              <th></th>
                              <th>2019</th>
                              <th>2020</th>
                              <th>2021</th>
                              <th>2022</th>
                              <th>2023</th>
                            </tr>
                         </thead>
                         <tbody>
                            <tr>
                              <th>Total Assets</th>
                              <td>2.0</td>
                              <td>2.5</td>
                              <td>4.8</td>
                              <td>5.9</td>
                              <td>8.4</td>
                            </tr>
                            <tr>
                              <th>Total Liabilities</th>
                              <td>1.2</td>
                              <td>1.6</td>
                              <td>1.5</td>
                              <td>1.6</td>
                              <td>6.7</td>
                            </tr>
                            <tr>
                              <th>Total Equity</th>
                              <td>0.8</td>
                              <td>1.0</td>
                              <td>3.3</td>
                              <td>4.2</td>
                              <td>1.7</td>
                            </tr>
                         </tbody>
                      </table>
                  </div>
               </div>
               <!--Income Statement-->
               <div class="finance-dataBoxs">
                  <h3>Income Statement</h3>
                  <div class="canvas-boxies">
                     <canvas id="finance-04"></canvas>
                     <canvas id="finance-05"></canvas>
                     <canvas id="finance-06"></canvas>
                  </div>
                  <div class="tableContents">
                      <table class="tableCont02">
                         <thead>
                            <tr>
                              <th></th>
                              <th>2019</th>
                              <th>2020</th>
                              <th>2021</th>
                              <th>2022</th>
                              <th>2023</th>
                            </tr>
                         </thead>
                         <tbody>
                            <tr>
                              <th>Revenue</th>
                              <td>0.8</td>
                              <td>1.9</td>
                              <td>3.5</td>
                              <td>8.7</td>
                              <td>6.7</td>
                            </tr>
                            <tr>
                              <th>Operating Profit</th>
                              <td class="mius">-2.9</td>
                              <td class="mius">-4.3</td>
                              <td class="mius">-2.1</td>
                              <td class="mius">-1.2</td>
                              <td class="mius">4.2</td>
                            </tr>
                            <tr>
                              <th>Net Profit</th>
                              <td class="mius">-0.4</td>
                              <td>0.2</td>
                              <td>2.3</td>
                              <td>1.0</td>
                              <td class="mius">-2.5</td>
                            </tr>
                         </tbody>
                      </table>
                  </div>
               </div><!--finance-dataBoxs-->
            </div>
           </div>
           <div class="rightContSpace">
            <div class="contentsWrap">
               <h5 class="titles">Employment Status</h5>
               <div class="statusBoxs">
                  <div class="statusTop">
                     <ul>
                        <li class="total"><h3>June 2024 Employment Size</h3><p>17</p></li>
                        <li class="details">
                           <h5><p>Peer Industry</p><span>22.2</span></h5>
                           <h5><p>Comparable Tenure</p><span>11.5</span></h5>
                           <h5><p>Managed Company</p><span>27.8</span></h5>
                        </li>
                     </ul>
                     <ul>
                        <li class="total"><h3>une 2024 Average Salary</h3><p>3.8</p></li>
                        <li class="details">
                           <h5><p>Peer Industry</p><span>22.2</span></h5>
                           <h5><p>Comparable Tenure</p><span>11.5</span></h5>
                           <h5><p>Managed Company</p><span>27.8</span></h5>
                        </li>
                     </ul>
                     <ul>
                        <li class="total"><h3>12-Month Cumulative New Hires</h3><p>7.0</p></li>
                        <li class="details">
                           <h5><p>Peer Industry</p><span>22.2</span></h5>
                           <h5><p>Comparable Tenure</p><span>11.5</span></h5>
                           <h5><p>Managed Company</p><span>27.8</span></h5>
                        </li>
                     </ul>
                     <ul>
                        <li class="total"><h3>12-Month Cumulative Departures</h3><p>5.0</p></li>
                        <li class="details">
                           <h5><p>Peer Industry</p><span>22.2</span></h5>
                           <h5><p>Comparable Tenure</p><span>11.5</span></h5>
                           <h5><p>Managed Company</p><span>27.8</span></h5>
                        </li>
                     </ul>
                  </div>
                  <div class="statusChartBoxs">
                     <h3>Growth Trend</h3>
                     <div class="canvasBoxs">
                         <div class="canvasPoints">
                            <ul>
                              <li><i class="blue"></i><span>Employment Size</span></li>
                              <li><i class="green"></i><span>New Hires</span></li>
                              <li><i class="purple"></i><span>Departures</span></li>
                            </ul>
                         </div>
                        <div class="canvasCont">
                           <canvas id="status01"></canvas>
                        </div>
                     </div>
                     <div class="tableContents">
                        <table class="tableCont03">
                           <thead>
                              <tr>
                                <th></th>
                                <th>24/01</th>
                                <th>24/02</th>
                                <th>24/03</th>
                                <th>24/04</th>
                                <th>24/05</th>
                                <th>24/06</th>
                                <th>24/07</th>
                                <th>24/08</th>
                                <th>24/09</th>
                                <th>24/10</th>
                                <th>24/11</th>
                                <th>24/12</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr>
                                <th>Average Salary(million won)</th>
                                <td>0.8</td>
                                <td>1.9</td>
                                <td>3.5</td>
                                <td>8.7</td>
                                <td>6.7</td>
                                <td>6.7</td>
                                <td>6.7</td>
                                <td>6.7</td>
                                <td>6.7</td>
                                <td>6.7</td>
                                <td>6.7</td>
                                <td>6.7</td>
                              </tr>
                              <tr>
                                <th><i class="blue"></i>Employment Size</th>
                                <td>0.8</td>
                                <td>1.9</td>
                                <td>3.5</td>
                                <td>8.7</td>
                                <td>6.7</td>
                                <td>6.7</td>
                                <td>6.7</td>
                                <td>6.7</td>
                                <td>6.7</td>
                                <td>6.7</td>
                                <td>6.7</td>
                                <td>6.7</td>
                              </tr>
                              <tr>
                                <th><i class="green"></i>New Hires</th>
                                <td>0.8</td>
                                <td>1.9</td>
                                <td>3.5</td>
                                <td>8.7</td>
                                <td>6.7</td>
                                <td>6.7</td>
                                <td>6.7</td>
                                <td>6.7</td>
                                <td>6.7</td>
                                <td>6.7</td>
                                <td>6.7</td>
                                <td>6.7</td>
                              </tr>
                              <tr>
                                <th><i class="purple"></i>Departures</th>
                                <td>0.8</td>
                                <td>1.9</td>
                                <td>3.5</td>
                                <td>8.7</td>
                                <td>6.7</td>
                                <td>6.7</td>
                                <td>6.7</td>
                                <td>6.7</td>
                                <td>6.7</td>
                                <td>6.7</td>
                                <td>6.7</td>
                                <td>6.7</td>
                              </tr>
                              <tr>
                                <th>Employment Change Rate(%)</th>
                                <td>0.8</td>
                                <td>1.9</td>
                                <td>3.5</td>
                                <td>8.7</td>
                                <td>6.7</td>
                                <td>6.7</td>
                                <td>6.7</td>
                                <td>6.7</td>
                                <td>6.7</td>
                                <td>6.7</td>
                                <td>6.7</td>
                                <td>6.7</td>
                              </tr>
                            
                           </tbody>
                        </table>
                     </div>

                  </div>
               </div>
           </div>
           </div>
           <div class="rightContSpace">
             <div class="contentsWrap">
               <h5 class="titles">Registered Intellectual Property Rights</h5>
     
               <div class="propertyBoxs">
                  <div class="propertyCont">
                     <div class="contentWrappers">
                        <button type="button" class="openInvestBtn"><h3>Patent</h3><p><span>Application : <em>2</em></span><span>Registration  : <em>2</em></span></p></button>
                        <div class="hiddenWrap">
                           <div class="tableContents addScroll">
                              <table class="tableCont04">
                                 <tbody>
                                    <tr>
                                    <th>Patent Application Number</th>
                                    <td>1020230025271 [Registered]</td>
                                    </tr>
                                    <tr>
                                    <th>Patent Registration Number</th>
                                    <td>1025452320000</td>
                                    </tr>
                                    <tr>
                                    <th>Patent Title</th>
                                    <td>Device and Method for Providing Alternative Credit Evaluation Information Using Open Data</td>
                                    </tr>
                                    <tr>
                                    <th>Patent Application Number</th>
                                    <td>2023-06-14</td>
                                    </tr>
                                    <tr>
                                    <th>Patent Application Date</th>
                                    <td>2023-06-14</td>
                                    </tr>
                                    <tr>
                                    <th>Patent Application Date</th>
                                    <td>2023-06-14</td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                     <div class="contentWrappers">
                        <button type="button" class="openInvestBtn"><h3>Trademark</h3><p><span>Application : <em>2</em></span><span>Registration  : <em>2</em></span></p></button>
                        <div class="hiddenWrap">
                           <div class="tableContents addScroll">
                              <table class="tableCont04">
                                 <tbody>
                                    <tr>
                                    <th>Patent Application Number</th>
                                    <td>1020230025271 [Registered]</td>
                                    </tr>
                                    <tr>
                                    <th>Patent Registration Number</th>
                                    <td>1025452320000</td>
                                    </tr>
                                    <tr>
                                    <th>Patent Title</th>
                                    <td>Device and Method for Providing Alternative Credit Evaluation Information Using Open Data</td>
                                    </tr>
                                    <tr>
                                    <th>Patent Application Number</th>
                                    <td>2023-06-14</td>
                                    </tr>
                                    <tr>
                                    <th>Patent Application Date</th>
                                    <td>2023-06-14</td>
                                    </tr>
                                    <tr>
                                    <th>Patent Application Date</th>
                                    <td>2023-06-14</td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                     <div class="contentWrappers">
                        <button type="button" class="openInvestBtn"><h3>Design</h3><p><span>Application : <em>2</em></span><span>Registration  : <em>2</em></span></p></button>
                        <div class="hiddenWrap">
                           <div class="tableContents addScroll">
                              <table class="tableCont04">
                                 <tbody>
                                    <tr>
                                    <th>Patent Application Number</th>
                                    <td>1020230025271 [Registered]</td>
                                    </tr>
                                    <tr>
                                    <th>Patent Registration Number</th>
                                    <td>1025452320000</td>
                                    </tr>
                                    <tr>
                                    <th>Patent Title</th>
                                    <td>Device and Method for Providing Alternative Credit Evaluation Information Using Open Data</td>
                                    </tr>
                                    <tr>
                                    <th>Patent Application Number</th>
                                    <td>2023-06-14</td>
                                    </tr>
                                    <tr>
                                    <th>Patent Application Date</th>
                                    <td>2023-06-14</td>
                                    </tr>
                                    <tr>
                                    <th>Patent Application Date</th>
                                    <td>2023-06-14</td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div><!--contentWrappers-->
                  </div><!--propertyCont-->
                  <div class="propertyCont">
                     <h5 class="title">Investment Record</h5>
                     <div class="tableContents">
                        <table class="tableCont04 addColor">
                           <tbody>
                              <tr>
                              <th>Cumulative Investment Amount</th>
                              <td>Confidential</td>
                              </tr>
                              <tr>
                              <th>Investment & Support Institutions</th>
                              <td>Industrial Bank of Korea (IBK), Yuanta Investment, SJ Investment Partners ...</td>
                              </tr>
                              <tr>
                              <th>Details</th>
                              <td>Pre-IPO (2023-6)</td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
                  <div class="propertyCont">
                     <h5 class="title">R&D Initiatives</h5>
                     <div class="tableContents">
                        <table class="tableCont04 addColor">
                           <tbody>
                              <tr>
                              <th>Project Title</th>
                              <td>Startup Growth - Technology Development Program</td>
                              </tr>
                              <tr>
                              <th>Project Description</th>
                              <td>Search Data-Based Investment Risk Tolerance Measurement System</td>
                              </tr>
                              <tr>
                              <th>Grant Funding</th>
                              <td>150,000,000 KRW</td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div><!--propertyBoxs-->

             </div>
           </div>


           </div>
        </div>
    </div>
    <script src="/src/js/infomationPop.js"></script>
    <script src="/src/js/infomationChart.js"></script>
