<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/Antock/src/assets/css/style.css">
   <title>antock</title>
</head>
<body>
   <div id="listWrappers">
      <div class="headerWrappers"></div>
      <div class="listTotalWrap">
      <section>
         <div class="listTopContent">
           <h1>FUTURE GROWTH MODEL</h1>
            <div class="topContent">
               <ul>
                  <h3><img src="/Antock/src/media/list/mark.png" alt="mark" loading="lazy"><span>Key steps</span></h3></ul>
               <ul class="categoryCont">
                  <li><span>Purpose</span><p>Investor</p></li>
                  <li><span>Industry</span><p>Robotics</p></li>
                  <li><span>Stage</span><p>Birth-stage</p></li>
               </ul>
            </div>
         </div>
         <div class="listMainContent">
            <div class="listMainBtnBoxs">
                <ul><h3>Top <span>30</span></h3></ul>
                <ul class="listBtnWrap">
                    <button type="button" class="listBtn01"></button>
                    <button type="button" class="listBtn02"></button>
                </ul>
            </div>
            <article>
               <div class="listContentBoxs"></div>
            </article>
            <article>
               <div class="tableContentBoxs">
                  <table>
                     <thead>
                        <tr>
                          <th>company name</th>
                          <th>Score</th>
                          <th>CEO</th>
                          <th>Est. date</th>
                          <th>Main product</th>
                          <th>Dashboard</th>
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                  </table>
               </div>
            </article>
         </div>
      </section>
      </div>
   </div>
   <script type="module" src="/Antock/index.js"></script>
   <script src="/Antock/src/js/list.js"></script>
</body>
</html>