<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/assets/css/style.css">
    <title>antock</title>
</head>
<body>
    <div id="matchWrappers">
       <div class="headerWrappers"></div>
       <div class="matchWrap">
        <!--첫번째 purpose -->
         <section class="step01">
             <div class="titleCont">
                <h5>FUTURE GROWTH MODEL</h5>
                <h1>Enter Your <span>Profile</span></h1>
             </div>
             <div class="listWrappers purposeListWrappers">
             <article class="matchingList01">
                <div class="matchingListBox matchingBox01">
                    <input type="radio" id="matchingStep01" name="matchingStepBoxs" class="matchRadio" value="banker">
                    <label for="matchingStep01" class="matchLabels">
                        <ul class="boxContent">
                            <li class="forCheckPoint"><span></span></li>
                            <li class="forFlex"><p class="subTitles">Consistent Performance</p></li>
                            <li><h3>Banker</h3><p>Find companies likely to demonstrate<br/>stable growth in sales and profitability.</p></li>
                            <li class="imgCont matchStepImg01"></li>
                        </ul>
                    </label>
                </div>
             </article>
             <article class="matchingList01">
                <div class="matchingListBox matchingBox02">
                    <input type="radio" id="matchingStep02" name="matchingStepBoxs" class="matchRadio" value="investor">
                    <label for="matchingStep02" class="matchLabels">
                        <ul class="boxContent">
                            <li class="forCheckPoint"><span></span></li>
                            <li class="forFlex"><p class="subTitles">Return on Investment</p></li>
                            <li><h3>Investor</h3><p>Focus on deep-tech ventures with<br/>high potential for an IPO.</p></li>
                            <li class="imgCont matchStepImg02"></li>
                        </ul>
                    </label>
                </div>
             </article>
             <article class="matchingList01">
                <div class="matchingListBox matchingBox03">
                    <input type="radio" id="matchingStep03" name="matchingStepBoxs" class="matchRadio"  value="incubator">
                    <label for="matchingStep03"  class="matchLabels">
                        <ul class="boxContent">
                            <li class="forCheckPoint"><span></span></li>
                            <li class="forFlex"><p class="subTitles">Growth Potential</p></li>
                            <li><h3>Incubator</h3><p>Discover early-stage startups that are<br/>well-suited for an acceleration program.</p></li>
                            <li class="imgCont matchStepImg03"></li>
                        </ul>
                    </label>
                </div>
            </article>
          </div>
            <div class="matchBtnBoxs">
                <button class="matchNextBtn"><img src="/src/media/matching/nextBtn.svg" alt="next" loading="lazy"></button>
            </div>
         </section>
         <!--두번째 industry -->
         <section class="step02">
            <div class="titleCont">
                <h5>FUTURE GROWTH MODEL</h5>
                <h1>Select your <span>industry</span></h1>
             </div>
             <div class="listWrappers industryListWrappers">
                <article>
                    <div class="matchingListBox">
                        <input type="checkbox" id="industryRadio01" name="industryBoxs01" value="semiconductor">
                        <label for="industryRadio01" class="industryLabels">
                            <ul class="boxContent addPosition">
                                <li class="imgBoxs"><img src="/src/media/matching/industry/industry01.png" alt="industry" loading="lazy"></li>
                                <li class="forCheckPoint addfixed"><span></span></li>
                                <li><h3>Semiconductor</h3></li>
                                <li><p>Semiconductor Materials and Fabrication,<br/> Microelectronics and Integrated Circuits (ICs), Advanced Lithography and Photomasks, Power Semiconductors and Efficiency, etc.</p></li>
                            </ul>
                        </label>
                    </div>
                </article>
                <article>
                    <div class="matchingListBox">
                        <input type="checkbox" id="industryRadio02" name="industryBoxs01" value="robotics">
                        <label for="industryRadio02" class="industryLabels">
                            <ul class="boxContent addPosition">
                                <li class="imgBoxs"><img src="/src/media/matching/industry/industry02.png" alt="industry" loading="lazy"></li>
                                <li class="forCheckPoint addfixed"><span></span></li>
                                <li><h3>Robotics</h3></li>
                                <li><p>Humanoid, Robotic and Computer Vision, <br/>Sensors and Perception, Robotics Actuators <br/> and Motion Control, Human-Robot Interaction(HRI) and Collaboration, etc.</p></li>
                            </ul>
                        </label>
                    </div>
                </article>
                <article>
                    <div class="matchingListBox">
                        <input type="checkbox" id="industryRadio03" name="industryBoxs01" value="mobillity">
                        <label for="industryRadio03" class="industryLabels">
                            <ul class="boxContent addPosition">
                                <li class="imgBoxs"><img src="/src/media/matching/industry/industry03.png" alt="industry" loading="lazy"></li>
                                <li class="forCheckPoint addfixed"><span></span></li>
                                <li><h3>Mobillity</h3></li>
                                <li><p>Electric & Autonomous Vehicles,<br/>Mobility-as-a-Service (MaaS) and Smart Transportation, Intelligent Traffic Systems, Advanced Driver Assistance Systems (ADAS), etc.</p></li>
                            </ul>
                        </label>
                    </div>
                </article>
                <article>
                    <div class="matchingListBox">
                        <input type="checkbox" id="industryRadio04" name="industryBoxs01" value="Data/Network/AI">
                        <label for="industryRadio04" class="industryLabels">
                            <ul class="boxContent addPosition">
                                <li class="imgBoxs"><img src="/src/media/matching/industry/industry04.png" alt="industry" loading="lazy"></li>
                                <li class="forCheckPoint addfixed"><span></span></li>
                                <li><h3>Data / Network / AI</h3></li>
                                <li><p>Data Analytics and Machine Learning, Natural Language Processing (NLP), Computer Vision and Image Recognition, Cloud Services, AI-Driven Automation & Robotics, etc.</p></li>
                            </ul>
                        </label>
                    </div>
                </article>
                <article>
                    <div class="matchingListBox">
                        <input type="checkbox" id="industryRadio05" name="industryBoxs01" value="biotechnology">
                        <label for="industryRadio05" class="industryLabels">
                            <ul class="boxContent addPosition">
                                <li class="imgBoxs"><img src="/src/media/matching/industry/industry05.png" alt="industry" loading="lazy"></li>
                                <li class="forCheckPoint addfixed"><span></span></li>
                                <li><h3>Biotechnology</h3></li>
                                <li><p>Genomics and Gene Editing, Synthetic Biology and Bioengineering, Biopharmaceuticals and Drug Development, Personalized Medicine Bioprocessing & Cell Culture Technologies, etc.</p></li>
                            </ul>
                        </label>
                    </div>
                </article>
                <article>
                    <div class="matchingListBox">
                        <input type="checkbox" id="industryRadio06" name="industryBoxs01" value="renewableEnergy">
                        <label for="industryRadio06" class="industryLabels">
                            <ul class="boxContent addPosition">
                                <li class="imgBoxs"><img src="/src/media/matching/industry/industry06.png" alt="industry" loading="lazy"></li>
                                <li class="forCheckPoint addfixed"><span></span></li>
                                <li><h3>Renewable Energy</h3></li>
                                <li><p>Solar Power and Photovoltaic Technologies, Wind Energy and Turbine, Energy Storage and Battery, Bioenergy and Biofuels, Hydropower and Ocean Energy, etc.</p></li>
                            </ul>
                        </label>
                    </div>
                </article>
                <article>
                    <div class="matchingListBox">
                        <input type="checkbox" id="industryRadio07" name="industryBoxs01" value="quantumComputing">
                        <label for="industryRadio07" class="industryLabels">
                            <ul class="boxContent addPosition">
                                <li class="imgBoxs"><img src="/src/media/matching/industry/industry07.png" alt="industry" loading="lazy"></li>
                                <li class="forCheckPoint addfixed"><span></span></li>
                                <li><h3>Quantum Computing</h3></li>
                                <li><p>Quantum Algorithms and Software, <br/> Quantum Hardware and Qubits,<br/>Quantum Error Correction, <br/> Quantum Networking and Communication, <br/> Quantum Simulation and Modeling, etc.</p></li>
                            </ul>
                        </label>
                    </div>
                </article>
                <article>
                    <div class="matchingListBox">
                        <input type="checkbox" id="industryRadio08" name="industryBoxs01"  value="aerospace/Marine">
                        <label for="industryRadio08" class="industryLabels">
                            <ul class="boxContent addPosition">
                                <li class="imgBoxs"><img src="/src/media/matching/industry/industry08.png" alt="industry" loading="lazy"></li>
                                <li class="forCheckPoint addfixed"><span></span></li>
                                <li><h3>Aerospace / Marine</h3></li>
                                <li><p>Aerospace Propulsion and Engines, Autonomous Vehicles and Drones, Space Exploration and Satellite Technologies, Marine Navigation and Autonomous Ships, etc.</p></li>
                            </ul>
                        </label>
                    </div>
                </article>
                <article>
                    <div class="matchingListBox">
                        <input type="checkbox" id="industryRadio09" name="industryBoxs01" value="aerospace/Marine">
                        <label for="industryRadio09" class="industryLabels">
                            <ul class="boxContent addPosition">
                                <li class="imgBoxs"><img src="/src/media/matching/industry/industry09.png" alt="industry" loading="lazy"></li>
                                <li class="forCheckPoint addfixed"><span></span></li>
                                <li><h3>Advanced Matarials</h3></li>
                                <li><p>Nanotechnology, Composite Materials and Advanced Polymers, Smart Materials and Adaptive Systems, High-Performance Metals, 2D Materials and Graphene Technologies, etc.</p></li>
                            </ul>
                        </label>
                    </div>
                </article>
                <article>
                    <div class="matchingListBox">
                        <input type="checkbox" id="industryRadio10" name="industryBoxs01" value="nuclearTechnology">
                        <label for="industryRadio10" class="industryLabels">
                            <ul class="boxContent addPosition">
                                <li class="imgBoxs"><img src="/src/media/matching/industry/industry10.png" alt="industry" loading="lazy"></li>
                                <li class="forCheckPoint addfixed"><span></span></li>
                                <li><h3>Nuclear Technology</h3></li>
                                <li><p>Nuclear Fusion Power, Small Modular Reactors (SMR), High-Temperature Gas-cooled Reactors (HTGR), Fast Breeder Reactors (FBR),Molten Salt Reactors (MSR), etc.</p></li>
                            </ul>
                        </label>
                    </div>
                </article>
             </div>
             <div class="matchBtnBoxs">
                <button class="matchNextBtn"><img src="/src/media/matching/nextBtn.svg" alt="next" loading="lazy"></button>
                <button class="matchPrevBtn"><img src="/src/media/matching/prevBtn.svg" alt="prev" loading="lazy"></button>
            </div>
         </section>
         <!--세번째 stage -->
         <section class="step03">
            <div class="titleCont">
                <h5>FUTURE GROWTH MODEL</h5>
                <h1>Choose the <span>Stage</span></h1>
             </div>
             <div class="listWrappers stageListWrappers">
                <article>
                   <div class="matchingListBox">
                       <input type="radio" id="stageRadio01" name="stageBoxs" value="initalModel">
                       <label for="stageRadio01" class="stageLabels">
                           <ul class="boxContent addPosition">
                               <li class="imgBoxs"><img src="/src/media/matching/period01.svg" alt="periodImg" loading="lazy"></li>
                               <li class="forCheckPoint addfixed"><span></span></li>
                               <li><h3>Birth-stage</h3></li>
                               <li><p>Find companies in their</p></li>
                               <li><h5><strong>1<i>st</i>-3<i>rd</i></strong> Year</h5></li>
                               <li><p class="addBack">Established between 2022-2024</p></li>
                           </ul>
                       </label>
                   </div>
                </article>
                <article>
                   <div class="matchingListBox">
                       <input type="radio" id="stageRadio02" name="stageBoxs" value="growthModel">
                       <label for="stageRadio02" class="stageLabels">
                           <ul class="boxContent addPosition">
                               <li class="imgBoxs"><img src="/src/media/matching/period02.svg" alt="periodImg" loading="lazy"></li>
                               <li class="forCheckPoint addfixed"><span></span></li>
                               <li><h3>Early-Stage</h3></li>
                               <li><p>Find companies in their</p></li>
                               <li><h5><strong class="colorGreen">4<i>th</i>-7<i>th</i></strong> Year</h5></li>
                               <li><p class="addBack">Established between 2018-2021</p></li>
                           </ul>
                       </label>
                   </div>
                </article>
             </div>
             <div class="matchBtnBoxs">
                <button class="matchNextBtn"><img src="/src/media/matching/nextBtn.svg" alt="next" loading="lazy"></button>
                <button class="matchPrevBtn"><img src="/src/media/matching/prevBtn.svg" alt="prev" loading="lazy"></button>
            </div>
         </section>
         <!--오른쪽 고정된 스텝 단계별 표시 메뉴 -->
         <div class="fixedStepBoxs">
            <div class="fixedWrappers">
                <h5><img src="/src/media/matching/keysteps.svg" alt="keysteps" loading="lazy"></h5>
                <div class="stepBoxs">
                    <ul>
                        <li><h3><i class="num01"></i>Purpose</h3><span class="nowChecked nowChecked01"></span></li>
                        <li class="lineBoxs"><em></em>
                            <div class="nowStep">
                                <p class="stepNum">Step01</p>
                                <div class="categoryBoxs categoryBoxs01"></div>
                            </div>
                        </li>
                    </ul>
                    <ul>
                        <li><h3><i class="num02"></i>Industry</h3><span class="nowChecked nowChecked02"></span></li>
                        <li class="lineBoxs"><em></em>
                            <div class="nowStep">
                                <p class="stepNum">Step02</p>
                                <div class="categoryBoxs categoryBoxs02"></div>
                            </div>
                        </li>
                    </ul>
                    <ul class="thirdLineBoxs">
                        <li><h3><i class="num03"></i>Stage</h3><span class="nowChecked nowChecked03"></span></li>
                        <li class="lineBoxs"><em></em>
                            <div class="nowStep">
                                <p class="stepNum">Step03</p>
                                <div class="categoryBoxs categoryBoxs03"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
       </div>
    </div>
    <script type="module" src="/index.js"></script>
    <script src="/src/js/matching.js"></script>
</body>
</html>